			<!-- panel left -->

			<!-- <div data-role="panel" id="leftpanel" data-display="overlay" data-position-fixed="true" > -->

				<!-- <div class="nd2-sidepanel-profile wow fadeInDown">
					<img class="profile-background" src="http://lorempixel.com/400/200/abstract/2/" />
					<div class="row">
						<div class="col-xs-4 center-xs">
							<div class="box">
								<img class="profile-thumbnail" src="http://lorempixel.com/200/200/people/9/" />
							</div>
						</div>
						<div class="col-xs-8">
							<div class="box profile-text">
								<strong>Jane Doe</strong>
								<span class="subline">Super Power User</span>
							</div>
						</div>
					</div>
				</div> -->


				<!-- <ul data-role="listview" data-inset="false">
					<li data-role="list-divider">Spell Count</li>
				</ul>

				<div class="ui-field-contain" id="spin1Div">
					<label for="spin">Level One</label>
					<input type="text" data-role="spinbox" name="spin" id="spin1" value="0" min="0" max="100" />
				</div>

				<div class="ui-field-contain">
					<label for="spin">Level Two</label>
					<input type="text" data-role="spinbox" name="spin" id="spin2" value="0" min="0" max="100" />
				</div>

				<div class="ui-field-contain">
					<label for="spin">Level Three</label>
					<input type="text" data-role="spinbox" name="spin" id="spin3" value="0" min="0" max="100" />
				</div>

				<div class="ui-field-contain">
					<label for="spin">Level Four</label>
					<input type="text" data-role="spinbox" name="spin" id="spin4" value="0" min="0" max="100" />
				</div>

				<div class="ui-field-contain">
					<label for="spin">Level Five</label>
					<input type="text" data-role="spinbox" name="spin" id="spin5" value="0" min="0" max="100" />
				</div>

				<div class="ui-field-contain">
					<label for="spin">Level Six</label>
					<input type="text" data-role="spinbox" name="spin" id="spin6" value="0" min="0" max="100" />
				</div>

				<div class="ui-field-contain">
					<label for="spin">Level Seven</label>
					<input type="text" data-role="spinbox" name="spin" id="spin7" value="0" min="0" max="100" />
				</div>

				<div class="ui-field-contain">
					<label for="spin">Level Eight</label>
					<input type="text" data-role="spinbox" name="spin" id="spin8" value="0" min="0" max="100" />
				</div>

				<div class="ui-field-contain">
					<label for="spin">Level Nine</label>
					<input type="text" data-role="spinbox" name="spin" id="spin9" value="0" min="0" max="100" />
				</div>

				<div class="ui-field-contain">
					<label for="spin">Level Ten</label>
					<input type="text" data-role="spinbox" name="spin" id="spin10" value="0" min="0" max="100" />
				</div>

			</div> -->
			<!-- /panel left -->


		<script type="text/javascript">


			$('#spin0').on('change', function() {

				localStorage.lvlZeroValue = this.value;
				$(this).attr('value',this.value);
			});

			$('#spin1').on('change', function() {

				localStorage.lvlOneValue = this.value;
				$(this).attr('value',this.value);
			});

			$('#spin2').on('change', function() {

				localStorage.lvlTwoValue = this.value;
				$(this).attr('value',this.value);
			});

			$('#spin3').on('change', function() {
				localStorage.lvlThreeValue = this.value;
				$(this).attr('value',this.value);
			});

			$('#spin4').on('change', function() {
				localStorage.lvlFourValue = this.value;
				$(this).attr('value',this.value);
			});

			$('#spin5').on('change', function() {

				localStorage.lvlFiveValue = this.value;
				$(this).attr('value',this.value);
			});

			$('#spin6').on('change', function() {

				localStorage.lvlSixValue = this.value;
				$(this).attr('value',this.value);
			});

			$('#spin7').on('change', function() {

				localStorage.lvlSevenValue = this.value;
				$(this).attr('value',this.value);
			});

			$('#spin8').on('change', function() {

				localStorage.lvlEightValue = this.value;
				$(this).attr('value',this.value);
			});

			$('#spin9').on('change', function() {

				localStorage.lvlNineValue = this.value;
				$(this).attr('value',this.value);
			});


			$('#spin10').on('change', function() {

				localStorage.lvlTenValue = this.value;
				$(this).attr('value',this.value);
			});



			$('#spinSet0').on('change', function() {

				localStorage.lvlZeroMaxValue = this.value;
				$(this).attr('value',this.value);
				$('#spin0').attr('max',this.value);
			});

			$('#spinSet1').on('change', function() {

				localStorage.lvlOneMaxValue = this.value;
				$(this).attr('value',this.value);
				$('#spin1').attr('max',this.value);
			});

			$('#spinSet2').on('change', function() {

				localStorage.lvlTwoMaxValue = this.value;
				$(this).attr('value',this.value);
				$('#spin2').attr('max',this.value);
			});

			$('#spinSet3').on('change', function() {

				localStorage.lvlThreeMaxValue = this.value;
				$(this).attr('value',this.value);
				$('#spin3').attr('max',this.value);
			});

			$('#spinSet4').on('change', function() {

				localStorage.lvlFourMaxValue = this.value;
				$(this).attr('value',this.value);
				$('#spin4').attr('max',this.value);
			});

			$('#spinSet5').on('change', function() {

				localStorage.lvlFiveMaxValue = this.value;
				$(this).attr('value',this.value);
				$('#spin5').attr('max',this.value);
			});

			$('#spinSet6').on('change', function() {

				localStorage.lvlSixMaxValue = this.value;
				$(this).attr('value',this.value);
				$('#spin6').attr('max',this.value);
			});

			$('#spinSet7').on('change', function() {

				localStorage.lvlSevenMaxValue = this.value;
				$(this).attr('value',this.value);
				$('#spin7').attr('max',this.value);
			});

			$('#spinSet8').on('change', function() {

				localStorage.lvlEightMaxValue = this.value;
				$(this).attr('value',this.value);
				$('#spin8').attr('max',this.value);
			});

			$('#spinSet9').on('change', function() {

				localStorage.lvlNineMaxValue = this.value;
				$(this).attr('value',this.value);
				$('#spin9').attr('max',this.value);
			});



			$('#spellCountTackMax').click(function() {



				jQuery.fn.onSpinChange = function(counterValueDBLocation, maxValueDBLocation, spinSetID){

					return this.each(function(){
						$(this).attr('value',maxValueDBLocation);
						counterValueDBLocation = maxValueDBLocation;

						if(maxValueDBLocation == "" || maxValueDBLocation == null) {

							$(this).attr('value', 0);
							document.getElementById(spinSetID).value = 0;
							//this could be more dynamic and cleaner if you just traversed to the spinSetID

							//local storage values
							counterValueDBLocation = 0;
							maxValueDBLocation = 0;
						}
					});
				};

				$("#spin0").onSpinChange(localStorage.lvlZeroValue,localStorage.lvlZeroMaxValue, "spinSet0");

				$("#spin1").onSpinChange(localStorage.lvlOneValue,localStorage.lvlOneMaxValue, "spinSet1");

				$("#spin2").onSpinChange(localStorage.lvlTwoValue,localStorage.lvlTwoMaxValue, "spinSet2");

				$("#spin3").onSpinChange(localStorage.lvlThreeValue,localStorage.lvlThreeMaxValue, "spinSet3");

				$("#spin4").onSpinChange(localStorage.lvlFourValue,localStorage.lvlFourMaxValue, "spinSet4");

				$("#spin5").onSpinChange(localStorage.lvlFiveValue,localStorage.lvlFiveMaxValue, "spinSet5");

				$("#spin6").onSpinChange(localStorage.lvlSixValue,localStorage.lvlSixMaxValue, "spinSet6");

				$("#spin7").onSpinChange(localStorage.lvlSevenValue,localStorage.lvlSevenMaxValue, "spinSet7");

				$("#spin8").onSpinChange(localStorage.lvlEightValue,localStorage.lvlEightMaxValue, "spinSet8");

				$("#spin9").onSpinChange(localStorage.lvlNineValue,localStorage.lvlNineMaxValue, "spinSet9");





				// if (typeof localStorage.lvlOneMaxValue === 'string' && localStorage.lvlOneMaxValue !== "" && localStorage.lvlOneMaxValue <= 99 ) {
				// 	document.getElementById('spin1').value = localStorage.lvlOneMaxValue;
				// 	localStorage.lvlOneValue = localStorage.lvlOneMaxValue;
				// } else {
				// 	document.getElementById('spin1').value = 0;
				// 	document.getElementById('spinSet1').value = 0
				// 	localStorage.lvlOneValue = 0;
				// 	localStorage.lvlOneMaxValue = 0;
				// }
				//
				// if (typeof localStorage.lvlTwoMaxValue === 'string' && localStorage.lvlTwoMaxValue !== "" && localStorage.lvlTwoMaxValue <= 99 ) {
				// 	document.getElementById('spin2').value = localStorage.lvlTwoMaxValue;
				// 	localStorage.lvlTwoValue = localStorage.lvlTwoMaxValue;
				// } else {
				// 	document.getElementById('spin2').value = 0;
				// 	document.getElementById('spinSet2').value = 0
				// 	localStorage.lvlTwoValue = 0;
				// 	localStorage.lvlTwoMaxValue = 0;
				// }
				//
				// if (typeof localStorage.lvlThreeMaxValue === 'string' && localStorage.lvlThreeMaxValue !== "" && localStorage.lvlThreeMaxValue <= 99 ) {
				// 	document.getElementById('spin3').value = localStorage.lvlThreeMaxValue;
				// 	localStorage.lvlThreeValue = localStorage.lvlThreeMaxValue;
				// } else {
				// 	document.getElementById('spin3').value = 0;
				// 	document.getElementById('spinSet3').value = 0
				// 	localStorage.lvlThreeValue = 0;
				// 	localStorage.lvlThreeMaxValue = 0;
				// }
				//
				// if (typeof localStorage.lvlFourMaxValue === 'string' && localStorage.lvlFourMaxValue !== "" && localStorage.lvlFourMaxValue <= 99 ) {
				// 	document.getElementById('spin4').value = localStorage.lvlFourMaxValue;
				// 	localStorage.lvlFourValue = localStorage.lvlFourMaxValue;
				// } else {
				// 	document.getElementById('spin4').value = 0;
				// 	document.getElementById('spinSet4').value = 0
				// 	localStorage.lvlFourValue = 0;
				// 	localStorage.lvlFourMaxValue = 0;
				// }
				//
				// if (typeof localStorage.lvlFiveMaxValue === 'string' && localStorage.lvlFiveMaxValue !== "" && localStorage.lvlFiveMaxValue <= 99 ) {
				// 	document.getElementById('spin5').value = localStorage.lvlFiveMaxValue;
				// 	localStorage.lvlFiveValue = localStorage.lvlFiveMaxValue;
				// } else {
				// 	document.getElementById('spin5').value = 0;
				// 	document.getElementById('spinSet5').value = 0
				// 	localStorage.lvlFiveValue = 0;
				// 	localStorage.lvlFiveMaxValue = 0;
				// }
				//
				// if (typeof localStorage.lvlSixMaxValue === 'string' && localStorage.lvlSixMaxValue !== "" && localStorage.lvlSixMaxValue <= 99 ) {
				// 	document.getElementById('spin6').value = localStorage.lvlSixMaxValue;
				// 	localStorage.lvlSixValue = localStorage.lvlSixMaxValue;
				// } else {
				// 	document.getElementById('spin6').value = 0;
				// 	document.getElementById('spinSet6').value = 0
				// 	localStorage.lvlSixValue = 0;
				// 	localStorage.lvlSixMaxValue = 0;
				// }
				//
				// if (typeof localStorage.lvlSevenMaxValue === 'string' && localStorage.lvlSevenMaxValue !== "" && localStorage.lvlSevenMaxValue <= 99 ) {
				// 	document.getElementById('spin7').value = localStorage.lvlSevenMaxValue;
				// 	localStorage.lvlSevenValue = localStorage.lvlSevenMaxValue;
				// } else {
				// 	document.getElementById('spin7').value = 0;
				// 	document.getElementById('spinSet7').value = 0
				// 	localStorage.lvlSevenValue = 0;
				// 	localStorage.lvlSevenMaxValue = 0;
				// }
				//
				// if (typeof localStorage.lvlEightMaxValue === 'string' && localStorage.lvlEightMaxValue !== "" && localStorage.lvlEightMaxValue <= 99 ) {
				// 	document.getElementById('spin8').value = localStorage.lvlEightMaxValue;
				// 	localStorage.lvlEightValue = localStorage.lvlEightMaxValue;
				// } else {
				// 	document.getElementById('spin8').value = 0;
				// 	document.getElementById('spinSet8').value = 0
				// 	localStorage.lvlEightValue = 0;
				// 	localStorage.lvlEightMaxValue = 0;
				// }
				//
				// if (typeof localStorage.lvlNineMaxValue === 'string' && localStorage.lvlNineMaxValue !== "" && localStorage.lvlNineMaxValue <= 99 ) {
				// 	document.getElementById('spin9').value = localStorage.lvlNineMaxValue;
				// 	localStorage.lvlNineValue = localStorage.lvlNineMaxValue;
				// } else {
				// 	document.getElementById('spin9').value = 0;
				// 	document.getElementById('spinSet9').value = 0
				// 	localStorage.lvlNineValue = 0;
				// 	localStorage.lvlNineMaxValue = 0;
				// }
			});

			</script>
