			<!-- panel left -->

<script type="text/javascript">

//when spell counter value is changed
	$('#spin0').on('change', function() {
		var currentValue = $(this).val();
		localStorage.lvlZeroValue = currentValue;
		$(this).attr('value', currentValue);
	});

	$('#spin1').on('change', function() {
		var currentValue = $(this).val();
		localStorage.lvlOneValue = currentValue;
		$(this).attr('value', currentValue);
	});

	$('#spin2').on('change', function() {
		var currentValue = $(this).val();
		localStorage.lvlTwoValue = currentValue;
		$(this).attr('value', currentValue);
	});

	$('#spin3').on('change', function() {
		var currentValue = $(this).val();
		localStorage.lvlThreeValue = currentValue;
		$(this).attr('value', currentValue);
	});

	$('#spin4').on('change', function() {
		var currentValue = $(this).val();
		localStorage.lvlFourValue = currentValue;
		$(this).attr('value', currentValue);
	});

	$('#spin5').on('change', function() {
		var currentValue = $(this).val();
		localStorage.lvlFiveValue = currentValue;
		$(this).attr('value', currentValue);
	});

	$('#spin6').on('change', function() {
		var currentValue = $(this).val();
		localStorage.lvlSixValue = currentValue;
		$(this).attr('value', currentValue);
	});

	$('#spin7').on('change', function() {
		var currentValue = $(this).val();
		localStorage.lvlSevenValue = currentValue;
		$(this).attr('value', currentValue);
	});

	$('#spin8').on('change', function() {
		var currentValue = $(this).val();
		localStorage.lvlEightValue = currentValue;
		$(this).attr('value', currentValue);
	});

	$('#spin9').on('change', function() {
		var currentValue = $(this).val();
		localStorage.lvlNineValue = currentValue;
		$(this).attr('value', currentValue);
	});



//when spell max value is changed
	$('#spinSet0').on('change', function() {
		var maxValue = $(this).val();
			if(maxValue !== "" && maxValue !== null) {
			localStorage.lvlZeroMaxValue = maxValue;
			$(this).attr('value', maxValue);
		} else {
			$(this).attr('value', "0");
			$('#spin0').attr('max', "0");
			localStorage.lvlZeroMaxValue = "0";
			localStorage.lvlZeroValue = "0";

		}
	});


	$('#spinSet1').on('change', function() {
		var maxValue = $(this).val();
			if(maxValue !== "" && maxValue !== null) {
			localStorage.lvlOneMaxValue = maxValue;
			$(this).attr('value', maxValue);
		} else {
			$(this).attr('value', "0");
			$('#spin2').attr('max', "0");
			localStorage.lvlOneMaxValue = "0";
			localStorage.lvlOneValue = "0";

		}
	});

	$('#spinSet2').on('change', function() {
		var maxValue = $(this).val();
			if(maxValue !== "" && maxValue !== null) {
			localStorage.lvlTwoMaxValue = maxValue;
			$(this).attr('value', maxValue);
		} else {
			$(this).attr('value', "0");
			$('#spin2').attr('max', "0");
			localStorage.lvlTwoMaxValue = "0";
			localStorage.lvlTwoValue = "0";

		}
	});

	$('#spinSet3').on('change', function() {
		var maxValue = $(this).val();
			if(maxValue !== "" && maxValue !== null) {
			localStorage.lvlThreeMaxValue = maxValue;
			$(this).attr('value', maxValue);
		} else {
			$(this).attr('value', "0");
			$('#spin3').attr('max', "0");
			localStorage.lvlThreeMaxValue = "0";
			localStorage.lvlThreeValue = "0";

		}
	});

	$('#spinSet4').on('change', function() {
		var maxValue = $(this).val();
			if(maxValue !== "" && maxValue !== null) {
			localStorage.lvlFourMaxValue = maxValue;
			$(this).attr('value', maxValue);
		} else {
			$(this).attr('value', "0");
			$('#spin4').attr('max', "0");
			localStorage.lvlFourMaxValue = "0";
			localStorage.lvlFourValue = "0";

		}
	});

	$('#spinSet5').on('change', function() {
		var maxValue = $(this).val();
			if(maxValue !== "" && maxValue !== null) {
			localStorage.lvlFiveMaxValue = maxValue;
			$(this).attr('value', maxValue);
		} else {
			$(this).attr('value', "0");
			$('#spin5').attr('max', "0");
			localStorage.lvlFiveMaxValue = "0";
			localStorage.lvlFiveValue = "0";

		}
	});

	$('#spinSet6').on('change', function() {
		var maxValue = $(this).val();
			if(maxValue !== "" && maxValue !== null) {
			localStorage.lvlSixMaxValue = maxValue;
			$(this).attr('value', maxValue);
		} else {
			$(this).attr('value', "0");
			$('#spin6').attr('max', "0");
			localStorage.lvlSixMaxValue = "0";
			localStorage.lvlSixValue = "0";

		}
	});

	$('#spinSet7').on('change', function() {
		var maxValue = $(this).val();
			if(maxValue !== "" && maxValue !== null) {
			localStorage.lvlSevenMaxValue = maxValue;
			$(this).attr('value', maxValue);
		} else {
			$(this).attr('value', "0");
			$('#spin7').attr('max', "0");
			localStorage.lvlSevenMaxValue = "0";
			localStorage.lvlSevenValue = "0";

		}
	});

	$('#spinSet8').on('change', function() {
		var maxValue = $(this).val();
			if(maxValue !== "" && maxValue !== null) {
			localStorage.lvlEightMaxValue = maxValue;
			$(this).attr('value', maxValue);
		} else {
			$(this).attr('value', "0");
			$('#spin8').attr('max', "0");
			localStorage.lvlEightMaxValue = "0";
			localStorage.lvlEightValue = "0";

		}
	});

	$('#spinSet9').on('change', function() {
		var maxValue = $(this).val();
			if(maxValue !== "" && maxValue !== null) {
			localStorage.lvlNineMaxValue = maxValue;
			$(this).attr('value', maxValue);
		} else {
			$(this).attr('value', "0");
			$('#spin9').attr('max', "0");
			localStorage.lvlNineMaxValue = "0";
			localStorage.lvlNineValue = "0";

		}
	});


//applying max values to counter values
	$('#spellCountTackMax').click(function() {



		jQuery.fn.onTackSet = function(counterValue, maxValue, spinSetID){

			return this.each(function(){


				if(maxValue !== "" || maxValue !== null) {

					$(this).attr('value', maxValue);
					$(this).attr('max', maxValue);

				} else {
					$(this).attr('value', "0");
					$(spinSetID).attr('value', "0");
					counterValue = "0";
					maxValue = "0";

				}
			});
		};

		$("#spin0").onTackSet(localStorage.lvlZeroValue,localStorage.lvlZeroMaxValue, "spinSet0");

		localStorage.lvlZeroValue = localStorage.lvlZeroMaxValue;


		$("#spin1").onTackSet(localStorage.lvlOneValue,localStorage.lvlOneMaxValue, "spinSet1");

		localStorage.lvlOneValue = localStorage.lvlOneMaxValue;


		$("#spin2").onTackSet(localStorage.lvlTwoValue,localStorage.lvlTwoMaxValue, "spinSet2");

		localStorage.lvlTwoValue = localStorage.lvlTwoMaxValue;


		$("#spin3").onTackSet(localStorage.lvlThreeValue,localStorage.lvlThreeMaxValue, "spinSet3");

		localStorage.lvlThreeValue = localStorage.lvlThreeMaxValue;


		$("#spin4").onTackSet(localStorage.lvlFourValue,localStorage.lvlFourMaxValue, "spinSet4");

		localStorage.lvlFourValue = localStorage.lvlFourMaxValue;


		$("#spin5").onTackSet(localStorage.lvlFiveValue,localStorage.lvlFiveMaxValue, "spinSet5");

		localStorage.lvlFiveValue = localStorage.lvlFiveMaxValue;


		$("#spin6").onTackSet(localStorage.lvlSixValue,localStorage.lvlSixMaxValue, "spinSet6");

		localStorage.lvlSixValue = localStorage.lvlSixMaxValue;


		$("#spin7").onTackSet(localStorage.lvlSevenValue,localStorage.lvlSevenMaxValue, "spinSet7");

		localStorage.lvlSevenValue = localStorage.lvlSevenMaxValue;


		$("#spin8").onTackSet(localStorage.lvlEightValue,localStorage.lvlEightMaxValue, "spinSet8");

		localStorage.lvlEightValue = localStorage.lvlEightMaxValue;
		

		$("#spin9").onTackSet(localStorage.lvlNineValue,localStorage.lvlNineMaxValue, "spinSet9");

		localStorage.lvlNineValue = localStorage.lvlNineMaxValue;

	});

</script>
