#leftpanel{
    margin-top: 64px;
}

/*spell list additional info spans*/

.spellSortListsSpan {
    float: right;
    font-size: 8px;
    line-height: 19px;
    padding-right: 5px;
}

.spellSortListsSpanSpan {
    float: right;
    font-size: 11px;
    line-height: 19px;
    padding-right: 7px;
}

.spellSortListsRange, .spellSortListsDuration {
    float: right;
    font-size: 7px;
    line-height: 17px;
    padding-right: 5px;
}

.spellSortListsRange {
    font-size: 9px;
}

.spellBookSearchBars div {
    background-color: white !important;
    border-color: #ddd !important;
    color: black !important;
    text-shadow: 0 1px 0 #f3f3f3 !important;
    margin: -8px !important;
    padding: 0 14px !important;
    background-image:url(data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20d%3D%22M10.171%2C8.766c0.617-0.888%2C0.979-1.964%2C0.979-3.126c0-3.037-2.463-5.5-5.5-5.5s-5.5%2C2.463-5.5%2C5.5s2.463%2C5.5%2C5.5%2C5.5%20c1.152%2C0%2C2.223-0.355%2C3.104-0.962l3.684%2C3.683l1.414-1.414L10.171%2C8.766z%20M5.649%2C9.14c-1.933%2C0-3.5-1.567-3.5-3.5%20c0-1.933%2C1.567-3.5%2C3.5-3.5c1.933%2C0%2C3.5%2C1.567%2C3.5%2C3.5C9.149%2C7.572%2C7.582%2C9.14%2C5.649%2C9.14z%22%2F%3E%3C%2Fsvg%3E);
    background-position: center center;
    background-repeat: no-repeat;
    opacity: .5;
}

.ui-input-search:after {
    background-image: none !important;
}

/*change active button style*/

.ui-btn-active {
    background-color: #607d8b !important;
    color: #ffffff !important;
}

/*divider padding*/
.ui-listview .ui-li-divider {
    padding: 4px 10px;
}

/*list in discription*/

.ui-listview .ui-li-static {
    padding: 3px 15px;
}

.spellDescList li {
    border: none !important;

}

.ui-collapsible-set .ui-collapsible.ui-corner-all {
    border-radius: 0 0 7px 7px !important;
}


.levelOneChip {
    display: inline-block;
    width: 17%;
    height: 30px;
    margin: 1% 0;
    border-radius: 12px;
    border: 2px solid white;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 5px 1px rgba(255,255,255, 0.2);
    -moz-box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 5px 1px rgba(255,255,255, 0.2);
    -webkit-box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 5px 1px rgba(255,255,255, 0.2);

}

.levelOneChipHeading {
    /*font-family: Verdana;*/
    font-size: 1.0em;
    text-decoration: none;
    color: #fff !important;
    margin-left: 6px;
    line-height: 0;
}

div.fish {
    float: left;
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 10px 1px rgba(90,90,90, 0.1), inset 0 30px 1px rgba(255,255,255, 0.2);
    -moz-box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 30px 1px rgba(255,255,255, 0.2);
    -webkit-box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 30px 1px rgba(255,255,255, 0.2);
    border: 8px dotted #fff;
}

div.fish div {
    font-family: "Andale Mono", AndaleMono, monospace;
    text-align: center;
    line-height: 32px;
    font-size: 1.4em;
    color: #fff;
    font-style: normal;
}
div.white { background: #ffffff }
div.black { background: #000000 }
div.blue { background: #2779a7}
div.silver { background: #9c9c9c}
div.green { background:#45a38d }
div.yellow { background: #ebcf77 }
div.red { background: #ec3939 }
div.orange { background: #d95b43 }
div.brown { background: #987654 }
div.pink { background: #e36fed }
div.blueviolet { background:#4d0df4}


.spellDescList>li.ui-first-child {
    padding-top: 8px;
}

a {
    text-decoration: none;
    line-height: 0;
}

.spellBookClassList .ui-collapsible-content, .spellBookClassList .ui-collapsible-content .ui-body-inherit {
    border-style: none;
}

.spellBookChooseAClass {
    margin: 15px 0;
}

.spellBookChooseALevel {
    margin-bottom: 3px;
    margin-top: 0;

}

.spellBookChooseAClass, .spellBookChooseALevel {
    font-style: italic;

}

/*spell counter*/

.ui-panel-inner {
    background-color: white;
}
.spellBookSpellCountHeader {
    margin: -17px -17px 2px -17px !important;
}

.spellBookLevelTenCounter {
    margin-bottom: 60px;
}

.ui-body-a, .spellDescList li {
    background-color: #e6ebee !important;
}

.ui-btn.ui-input-clear {
    padding-right: 10px;
}


.spellBookSpellSet {
    width: 35px;


}

.spellBookSpellSet div {
    text-align: center;
    border-color: #e3f1f8;
}

.spellBookSpellSet div input {
    text-align: center;
}

.spellBookSpellSet div::after {
    display: none;
}


.spellBookCounterLabel {
    width: 38px;
}

.spellBookPerDayLabel {
    width: 20px;
}

.spellBookCounter {

    border: none;
}

.spellBookSpellSet, .spellBookCounter, .spellBookCounterLabel, .spellBookPerDayLabel {
    display: inline-block;
    padding-right: 12px;
}

.spellBookLastCounter {
    padding-bottom: 90px;
}

#spellCountTackMax {
    color: white;
    text-decoration: none;
    padding-left: 167px;
}


/*fix for ipad resolution*/
@media (min-width: 28em) {
  .ui-field-contain .ui-controlgroup-controls {
    float:none;
    width: 100%;
  }
}
